* {
	box-sizing: border-box;
}
$light: #f0eabe;
$mid-light: #21e1e1;
$mid: #3b9ae1;
$dark: #3120e0;

.pacman {
	display: block;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding-top: 20%;
	padding-left: 47%;
}

.projectBody {
	height: 100vh;
	width: 100%;
	background-color: #e9ebee;
	.newProject {
		display: flex;
		width: 80vw;
		margin: 0 auto;
		justify-content: space-around;

		.addTask {
			display: inline-block;
			vertical-align: top;
			color: $light;
			margin: 20px 0;
			width: 350px;
			box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
			h2 {
				text-align: center;
				margin: 0px auto;
				width: 350px;
				margin-bottom: 20px;
				border-radius: 5px;
				background-color: $dark;
				padding: 20px;
				color: white;
			}
			.taskList {
				overflow-y: auto;
				min-height: 25px;
				max-height: 40vh;
				cursor: grab;
				width: 350px;
				text-align: center;
				.listTask {
					box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
					background-color: $mid;
					width: 335px;
					display: inline-block;
					cursor: grab;
					border-radius: 5px;
					padding: 10px;
					margin-bottom: 10px;

					h3 {
						margin: 0 auto;
					}
					.close {
						transition: all 0.3s ease-in-out;
						position: sticky;
						right: 20px;
						top: 20px;
						width: 32px;
						height: 32px;
						opacity: 0.5;
						cursor: pointer;
					}
					.close:hover {
						opacity: 1;
						transform: rotate(-90deg);
					}
					.close:before,
					.close:after {
						position: absolute;
						left: 15px;
						content: ' ';
						height: 33px;
						width: 2px;
						background-color: #333;
					}
					.close:before {
						transform: rotate(45deg);
					}
					.close:after {
						transform: rotate(-45deg);
					}
				}
			}
			.listTask:active {
				cursor: grabbing;
				background-color: #2d79b3;
			}
			.listTask:hover {
				transition: all 0.2s ease-in-out;

				box-shadow: #77b9a9 0px 0px 0px 3px;
			}
			.taskForm {
				background-color: $dark;
				padding: 20px;
				display: block;
				width: 350px;
				border-radius: 5px;
				h3 {
					text-align: center;
					margin-top: 5px;
				}

				input,
				textarea {
					display: block;
					width: 100%;
					padding: 6px 10px;
					margin-bottom: 7px;
					border-radius: 2px;
					border: none;
				}
				button {
					width: 100%;
					padding: 8px 14px;
					color: $light;
					background-color: $mid;
					border-radius: 2px;
					border: none;
					margin: 10px 0;
					margin-top: 0;
					cursor: pointer;
				}
				button:hover {
					transition: all 0.2s ease-in-out;

					box-shadow: #8fe3cf 0px 0px 0px 3px;
				}
			}
		}
		.done {
			cursor: grabbing;

			h2 {
				text-align: center;
				margin: 20px auto;
				margin-bottom: 0px;
				border-radius: 5px;
				background-color: #36ae7c;
				padding: 20px;
				color: white;
			}
			.donely {
				display: inline-block;
				width: 350px;
				overflow-y: auto;
				height: 70vh;
				box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
				padding-top: 10px;

				.task {
					background-color: #36ae7c;
					box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
					color: white;
					width: 335px;
					text-align: center;
					padding: 10px;
					margin: 0 auto;
					margin-top: 10px;
					border-radius: 5px;
				}
				.task:hover {
					transition: all 0.2s ease-in-out;

					box-shadow: #77b9a9 0px 0px 0px 3px;
				}
			}
		}
		.progress {
			cursor: grabbing;

			h2 {
				text-align: center;
				margin: 20px auto;
				margin-bottom: 0px;
				border-radius: 5px;
				background-color: #ff5151;
				padding: 20px;
				color: white;
			}
			.donely {
				display: inline-block;
				width: 350px;
				overflow-y: auto;
				height: 70vh;
				box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
				padding-top: 10px;
				.task {
					background-color: #ff5151;
					box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
					color: white;
					width: 335px;
					text-align: center;
					padding: 10px;
					border-radius: 5px;
					margin: 0 auto;
					margin-top: 10px;
				}
				.task:hover {
					transition: all 0.2s ease-in-out;

					box-shadow: #77b9a9 0px 0px 0px 3px;
				}
			}
		}
	}
}

.chatButton {
	position: absolute;
	box-sizing: content-box;
	font-size: 36px;
	bottom: 20px;
	right: 20px;
	color: $light;
	background-color: $dark;
	border-radius: 25%;
	padding: 15px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.chatButton:hover {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.chatBox {
	position: absolute;
	padding: 20px;
	bottom: 100px;
	right: 20px;
	background-color: $mid;
	height: 450px;
	width: 300px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	h3 {
		color: white;
		margin: 0 0 10px 0;
	}
	.chatForm {
		position: absolute;
		bottom: 20px;
		color: black;
		behavior: smooth;

		input {
			display: inline;
			width: 200px;
			padding: 8px;
			border-radius: 2px;
			border: none;
		}
		button {
			background: transparent;
			border: none !important;
		}
		.send {
			box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
			display: inline;
			color: $light;
			position: absolute;
			bottom: -7px;
			left: 220px;
			background-color: $dark;
			border-radius: 50%;
			padding: 10px;
			box-sizing: content-box;
			cursor: pointer;
		}
	}
	.chatScreen {
		overflow-y: auto;
		background-color: #e9ebee;
		height: 320px;
		padding: 10px;
		border-radius: 5px;
		.currentUser {
			display: flex;
			justify-content: right;
			margin: 4px auto;
			.rightChat {
				background-color: #36ae7c;
				padding: 0 8px;
				color: white;
				border-radius: 15px 0px 15px 15px;
			}
		}
		.otherUser {
			display: inline-block;
			text-align: left;
			background-color: $mid;
			color: white;
			margin: 4px auto;
			padding: 0px 8px;
			border-radius: 0 15px 15px 15px;
		}
		.identify {
			font-size: 14px;
			font-style: italic;
			font-weight: 500;
			margin: 0;
			margin-bottom: 5px;
			display: block;
		}
		.message {
			display: block;
		}
	}
}

// .chatBox {
// 	.chatScreen {
// 		overflow-y: auto;
// 		background-color: #e9ebee;
// 		height: 320px;
// 		padding: 10px;
// 		border-radius: 5px;
// 	}
// 	position: absolute;
// 	padding: 20px;
// 	bottom: 100px;
// 	right: 20px;
// 	background-color: $mid;
// 	height: 450px;
// 	width: 300px;
// 	border-radius: 5px;
// 	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
// 	h3 {
// 		color: white;
// 		margin: 0 0 10px 0;
// 	}
// 	.chatForm {
// 		position: absolute;
// 		bottom: 20px;
// 		color: black;
// 		behavior: smooth;

// 		input {
// 			display: inline;
// 			width: 200px;
// 			padding: 8px;
// 			border-radius: 2px;
// 			border: none;
// 		}
// 		button {
// 			background: transparent;
// 			border: none !important;
// 		}
// 		.send {
// 			box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
// 			display: inline;
// 			color: $light;
// 			position: absolute;
// 			bottom: -7px;
// 			left: 220px;
// 			background-color: $dark;
// 			border-radius: 50%;
// 			padding: 10px;
// 			box-sizing: content-box;
// 			cursor: pointer;
// 		}
// 	}
// 	.currentUser {
// 		background-color: #36ae7c;
// 		padding: 0 8px;
// 		color: white;
// 		border-radius: 15px 0px 15px 15px;
// 		margin: 4px auto;
// 		display: inline-block;
// 	}
// 	.otherUser {
// 		display: inline-block;
// 		text-align: left;
// 		background-color: $mid;
// 		color: white;
// 		margin: 4px auto;
// 		padding: 0px 8px;
// 		border-radius: 0 15px 15px 15px;
// 	}
// 	.identify {
// 		font-size: 14px;
// 		font-style: italic;
// 		font-weight: 500;
// 		margin: 0;
// 		margin-bottom: 5px;
// 	}
// }
